.hello-text {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 5em;
	text-align: center;
}

ul.navigation-links {
	list-style: none;
	padding-left: 0;
	text-align: center;
}

ul.navigation-links li {
	display: inline-block;
	margin: 0 1em;
}

.navigation-links a {
	color: black;
	text-transform: uppercase;
	text-decoration: none;
}